prefs.dat
dist/
build/
saves/
*.egg-info/
*.pyc
*.ogg
*.mp3
*.log
.*
_build
!.travis.yml
!.codecov.yml
!.gitignore
!.gitattributes

singularity/i18n/*.po.sha1
singularity/i18n/locale/
singularity-*.tar.gz
singularity-*.tar.gz.asc
