[submodule "singularity/music/singularity-music-lossless-extended"]
	path = singularity/music/singularity-music-lossless-extended
	url = git@github.com:singularity/singularity-music-lossless-extended.git
[submodule "singularity/music/singularity-music-lossless-original"]
	path = singularity/music/singularity-music-lossless-original
	url = git@github.com:singularity/singularity-music-lossless-original.git
[submodule "singularity/music/singularity-music"]
	path = singularity/music/singularity-music
	url = git@github.com:singularity/singularity-music.git
[submodule "release/windows"]
	path = release/windows
	url = git@github.com:singularity/singularity-windows.git
[submodule "release/osx"]
	path = release/osx
	url = git@github.com:singularity/singularity-osx.git
